<template lang="pug">
    .pagination
        a.pagination__arrow.pagination__arrow_prev(:href="'#'" @click.prevent="onPrev" :class="{'disabled': disable.prev}")
        .pagination__pages
            b {{current}}&nbsp;
            | of&nbsp;
            b {{allPages}}
        a.pagination__arrow.pagination__arrow_next(:href="'#'" @click.prevent="onNext" :class="{'disabled': disable.next}")
</template>

<script src="./Pagination.js"></script>
<style lang="scss" scoped src="./Pagination.scss"></style>