.pagination{
    display: flex;
    align-items: center;
    &__arrow{
        position: relative;
        display: block;
        border: 1px solid $c-gray-dark;
        box-sizing: border-box;
        border-radius: 2px;
        width: 32px;
        height: 32px;
        &:hover{
            border-color: black;
        }
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 5px;
            height: 8px;
            background: transparent url('../../assets/icons/icon-chevron.svg') center no-repeat;
            background-size: cover;
        }
        &_prev{
            transform: rotate(180deg);
        }
        
        &.disabled{
            border-color: $c-gray-blue-light;
            &:after{
                opacity: .3;
            }
            &:hover{
                cursor: not-allowed;
            }
        }
    }
    &__pages{
        margin: 0 8px;
    }
}