@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

$c-dark: #282136;

$c-gray: #F2F2F2;
$c-gray-light: #F8F9FA;
$c-gray-dark: #D5DAE0;
$c-ashen: #EDEDED;
$c-gray-blue: #5b5e77;
$c-gray-blue-light: #c6cbd4;

$c-green: #00A11E;


$text:(
    color-main: $c-dark
);

$bg:(
    body: $c-gray
);

$container-gutter: 60px;

$container:(
    min-width: 1140px + $container-gutter * 2,
    max-width: 1140px + $container-gutter * 2
);

//настройки шрифта
$font:(
    family: ('Source Sans Pro', sans-serif),
    weight: normal,
    size: 14px,
    line-height: 1.3
);