.select-field{
    position: relative;
    display: inline-flex;
    z-index: 1;
    
    &__current{
        position: relative;
        display: block;
        border: 1px solid $c-gray-dark;
        border-radius: 2px;
        color: $c-gray-blue;
        padding: 6px 27px 6px 13px;
        white-space: nowrap;
        &:after{
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border-right: 1px solid $c-gray-blue;
            border-bottom: 1px solid $c-gray-blue;
            position: absolute;
            right: 11px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            opacity: .8;
            transition: inherit;
        }
        &:hover{
            border-color: $c-gray-blue;
            color: black;
            &:after{
                border-right-color: black;
                border-bottom-color: black;
                opacity: 1;
            }
        }
        
        &_open:after {
            transform: translateY(-15%) rotate(225deg);
        }
    }
    
    &__drop{
        position: absolute;
        left: 0;
        top: 130%;
        width: auto;
        min-width: 100%;
        background-color: white;
        box-shadow: 0 2px 8px rgba(black, .16);
        border-radius: 4px;
        max-height: 245px;
        overflow: auto;
    }
    &__el{
        display: block;
        padding: 10px 17px;
        transition: all .3s ease-in-out;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        &:hover{
            cursor: pointer;
            background-color: rgba(black, .04);
        }
        
        &_bold{
            font-weight: 600;
        }
    }
    
    &_multiple{
        .select-field__el{
            position: relative;
            padding-left: 44px;
            &:after, &:before{
                content: '';
                display: block;
                position: absolute;
                top: 12px;
                left: 17px;
                width: 14px;
                height: 14px;
                border-radius: 2px;
                transition: all .3s ease-in-out;
            }
            &:after{
                box-shadow: inset 0 0 0 1px $c-gray-blue-light;
            }
            &:before{
                visibility: hidden;
                opacity: 0;
                background: transparent url('../../assets/icons/icon-check.svg') center no-repeat;
                background-size: cover;
            }
            &_selected:before{
                visibility: visible;
                opacity: 1;
            }
            &_selected:after{
                box-shadow: none;
            }
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: all .3s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
    transform: translateY(10px);
}