<template lang="pug">
    .select-field(:class="{'select-field_multiple': isMultiple}")
        a.select-field__current(v-if="current"
            :href="'#'"
            @click.prevent="isShownDrop = !isShownDrop"
            :class="{'select-field__current_open': isShownDrop}") {{current.name}}

        transition(name="fade")
            .select-field__drop(v-if="isShownDrop")
                .select-field__el.select-field__el_bold(
                    v-if="isMultiple"
                    @click.prevent="selectAll"
                    :class="{'select-field__el_selected': selected.length === values.length}") Select all
                .select-field__el(
                    v-for="(el, index) in values"
                    :key="index"
                    @click.prevent="setValue(el)"
                    :class="{'select-field__el_selected': el.selected}") {{el.name}}
</template>

<script src="./_SelectField.js"></script>
<style lang="scss" scoped src="./_SelectField.scss"></style>