.products-table{
    display: table;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    &__row{
        display: table-row;
        &:nth-child(2n+1):not(.products-table__head){
            background-color: $c-gray-light;
        }
        &:hover:not(.products-table__head){
            background-color: rgba(0, 161, 30, 0.07);
            .products-table__actions{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__cell{
        display: table-cell;
        padding: 16px 15px;
        &:first-child{
            padding-left: 37px;
        }
        &:last-child{
            padding-right: 32px;
        }
        &_actions{
            position: relative;
            width: 100px;
        }
        &_check{
            width: 14px;
        }
    }
    
    &__head{
        font-weight: 600;
        .products-table__cell{
            border-bottom: 1px solid $c-ashen;
        }
    }
    
    &__link{
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-right: 15px;
        color: $c-dark;
        &:hover{
            opacity: .8;
        }
        &:after{
            content: '';
            display: block;
            width: 8px;
            height: 12px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            visibility: hidden;
            opacity: 0;
            background: transparent url('../../assets/icons/icon-arrow.svg') center no-repeat;
            background-size: cover;
            transition: inherit;
        }
        &.active{
            color: $c-green;
            &:after{
                visibility: visible;
                opacity: 1;
            }
        }
        &.asc:after{
            transform: translateY(-50%) scale(-1);
        }
    }
    
    &__actions{
        transition: all .3s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }
    
    &__trash-link{
        position: relative;
        display: inline-flex;
        color: $c-gray-blue;
        &:before{
            content: '';
            display: block;
            width: 12px;
            height: 16px;
            margin-right: 6px;
            align-items: center;
            background: transparent url('../../assets/icons/icon-trash.svg') center no-repeat;
            background-size: cover;
        }
        &:hover{
            color: black;
        }
    }
}


.table-actions{
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    align-items: center;
    user-select: none;
    &__el{
        position: relative;
        margin-right: 16px;
        &:last-child{
            margin-right: 0;
        }
    }
    
    &__btn{
        position: relative;
        display: block;
        border-radius: 2px;
        padding: 7px 18px;
        white-space: nowrap;
        box-shadow: none;
        color: white;
        background-color: $c-green;
        &:hover:not(.disabled){
            opacity: .8;
        }
        &.disabled{
            box-shadow: inset 0 0 0 1px $c-gray-blue-light;
            background-color: transparent;
            cursor: not-allowed;
            color: rgba($c-gray-blue, .6);
        }
    }
    
    .spacer{
        margin-left: auto;
    }
}