<template lang="pug">
    div
        template(v-if="!isLoading")
            h1 Table UI

            .table-actions
                .table-actions__el
                    SortField(:values="columns" :currentSort="currentSort" @onChangeSort="setSort")

                .spacer

                .table-actions__el(ref="confirm")
                    a.table-actions__btn(
                        :href="'#'"
                        :class="{'disabled': !model.checkedProducts.length}"
                        @click.prevent="ascMultiple") Delete
                        span(v-if="model.checkedProducts.length") &nbsp;({{model.checkedProducts.length}})

                    Confirm(
                        v-if="confirmMultiple && model.checkedProducts.length"
                        :q="'Are you sure you want <b>delete items</b>?'"
                        @onCancel="confirmMultiple = false"
                        @onConfirm="deleteMultipleProducts")
                .table-actions__el
                    SelectField(v-if="perPageData && perPageData.length" :data="perPageData" @onChange="changeLimit")
                .table-actions__el
                    PaginationField(
                        v-if="allProducts"
                        :allPages="String(allProducts)"
                        :current="String(currenPageRange)"
                        :disable="disablePagination"
                        @onPrev="setPrevPage"
                        @onNext="setNextPage")
                .table-actions__el
                    SelectField(v-if="columns && columns.length" :data="columns" :isMultiple="true" @onChange="changeColumnsVisability")

            .products-table
                .products-table__row.products-table__head
                    .products-table__cell.products-table__cell_check
                        Ckeckbox(
                            :value="model.checkedAll"
                            v-model="model.checkedAll"
                            :name="'checkedAll'"
                            @change="checkAll")
                    .products-table__cell(v-if="cell.selected" v-for="(cell, index) in columns" :key="index")
                        a.products-table__link(
                            :href="'#'"
                            @click.prevent="setSort(cell)"
                            :class="{'active': cell.value === currentSort.value,\
                                     'desc': currentSort.dir === 'desc',\
                                     'asc': currentSort.dir === 'asc'}") {{cell.name}}
                    .products-table__cell.products-table__cell_actions

                .products-table__row(v-for="product in products" :key="product.id")
                    .products-table__cell.products-table__cell_check
                        Ckeckbox(
                            :value="product.id"
                            v-model="model.checkedProducts")
                    .products-table__cell(v-if="cell.selected" v-for="(cell, index) in columns" :key="index")
                        a.products-table__link(:href="'#'") {{product[cell.value]}}
                    .products-table__cell.products-table__cell_actions
                        .products-table__actions(v-if="!deletingId")
                            a.products-table__trash-link(
                                :href="'#'"
                                @click.prevent="ascSingle(product.id)") delete

                        Confirm(
                            v-if="confirmId === product.id"
                            @onCancel="confirmId = null"
                            @onConfirm="delProduct(product)")
                        template(v-else-if="deletingId === product.id") deleting...
        template(v-else) Loading...
</template>

<script src="./_ProductsTable.js"></script>

<style src="./_ProductsTable.scss" lang="scss" scoped></style>
