<template lang="pug">
    .confirm
        .confirm__question(v-html="q")
        .confirm__actions
            a.confirm__btn.confirm__btn_cancel(:href="'#'" @click.prevent="$emit('onCancel', $event)") Cancel
            a.confirm__btn.confirm__btn_confirm(:href="'#'" @click.prevent="$emit('onConfirm', $event)") Confirm
</template>

<script>
    export default {
        props: {
            q: {
                type: String,
                default: 'Are you sure you want <b>delete item</b>?'
            }
        }
    }
</script>

<style lang="scss" scoped>
    .confirm{
        position: absolute;
        left: 0;
        top: 75%;
        box-shadow: 0 2px 8px rgba(black, .16);
        background-color: white;
        text-align: center;
        padding: 16px;
        width: 255px;
        z-index: 3;
        transform: translateX(-40%);
        &__question{
            margin-bottom: 8px;
        }
        &__actions{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        &__btn{
            position: relative;
            display: block;
            border-radius: 2px;
            padding: 6px 18px;
            white-space: nowrap;
            box-shadow: none;
            margin-right: 16px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                opacity: .8;
            }
            &_cancel{
                box-shadow: inset 0 0 0 1px $c-gray-blue-light;
                color: rgba($c-gray-blue, .6);
            }
            &_confirm{
                color: white;
                background-color: $c-green;
            }
        }
    }
</style>