.sort{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    &__title{
        font-weight: 600;
        margin-right: 8px;
    }
    &__el{
        display: block;
        border-radius: 2px;
        padding: 5px 8px;
        color: $c-dark;
        &:hover{
            opacity: .8;
        }
        &.active{
            background-color: $c-green;
            color: white;
        }
    }
}