<template lang="pug">
    .sort
        .sort__title Sorting by:
        a.sort__el(
            v-if="el.selected"
            :href="'#'"
            v-for="(el, index) in values"
            :key="index"
            :class="{'active': el.value === currentSort.value}"
            @click.prevent="setSort(el)"
            ) {{el.name}}
</template>

<script src="./_SortField.js"></script>
<style lang="scss" scoped src="./_SortField.scss"></style>