<template lang="pug">
    label.checkbox
        input.checkbox__input(
            type="checkbox"
            :name="name"
            v-model="model"
            :value="value")
        .checkbox__text
</template>

<script>
    export default {
        name: 'Checkbox',
        model: {
            prop: 'checked',
            event: 'change'
        },
        props: {
            value: {
                type: [String, Number, Boolean],
            },
            name: {
                type: String,
                default: 'products[]'
            },
            checked: {
                type: [Array, Boolean],
                default: false
            },
            simple: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            model: {
                get() {
                    return this.checked;
                },
                set(val) {
                    this.$emit('change', val);
                },
            },
        },
    }
</script>

<style lang="scss" scoped>
    .checkbox{
        position: relative;
        display: block;
        width: 14px;
        height: 14px;
        &__input {
            display: block;
            position: absolute;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            & + .checkbox__text{
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
                transition: opacity .3s ease-in-out;
                &:after, &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                    transition: all .3s ease-in-out;
                }
                &:after{
                    box-shadow: inset 0 0 0 1px $c-gray-blue-light;
                }
                &:before{
                    visibility: hidden;
                    opacity: 0;
                    background: transparent url('../../assets/icons/icon-check.svg') center no-repeat;
                    background-size: cover;
                }
                &:hover{
                    opacity: .8;
                }
            }
            &:checked + .checkbox__text {
                &:before{
                    visibility: visible;
                    opacity: 1;
                }
                &:after{
                    box-shadow: none;
                }
            }
        }

    }
</style>