<template lang="pug">
    .container
        ProductsTable(v-if="!isError" @onError="isError = true")
        template(v-if="isError")
            h1 Something went wrong :(

            a(:href="'#'" @click.prevent="isError = false") try again
</template>

<script>
    import ProductsTable from './components/ProductsTable/ProductsTable.vue';

    export default {
        name: 'App',
        components: {
            ProductsTable,
        },
        data() {
            return {
                isError: false
            }
        }
    };
</script>

<style lang="scss" src="./main.scss"></style>
