*, *:after, *:before{
    padding: 0;
    margin: 0;
    outline: none !important;
    box-sizing: border-box;
}
:focus{
    outline: none !important;
}

html,
body {
    position: relative;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

body{
    font: map_get($font, weight) #{map_get($font, size)}/#{map_get($font, line-height)} map_get($font, family);
    color: map_get($text, color-main);
    min-width: map_get($container, min-width);
    background: map_get($bg, body);
}

.container{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: map_get($container, min-width);
    padding: 32px $container-gutter 100px;
}

a{
    text-decoration: none;
    transition: all .3s ease-in-out;
}

h1 {
    line-height: 1.16;
    font-size: 32px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $c-ashen;
}